{
  "useTabs": false,
  "printWidth": 140,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "parser": "babel-ts",
  "endOfLine": "auto",
  "semi": false,
  "eslintIntegration": false
}
