.idea/
build/
.DS_Store
*.log
*.swp
*.so
__pycache__
*.pyc
cmake-build-debug/
.ycm_extra_conf.py
out/
output/
dockerfiles/cc-src/CMakePresets.json
dockerfiles/cc-src/CMakeSettings.json
.vs/
/dockerfiles/jvm-context/kotlinc/
/demo/META-INF/
/demo/*.class
/demo/*.out
/demo/status
/demo/stdout
/demo/log
**/koj